<!-- templates/includes/client_sidebar.html -->
<div class="w-64 h-screen bg-indigo-800 text-white flex flex-col shadow-lg">
  <div class="p-6 text-2xl font-bold border-b border-indigo-700">
    Client
  </div>
  <nav class="flex-1 px-4 py-6 space-y-2">
    <a href="{% url 'client_dashboard' %}" class="block px-3 py-2 rounded hover:bg-indigo-700">Dashboard</a>
    <a href="{% url 'client_devices' %}" class="block px-3 py-2 rounded hover:bg-indigo-700">My Devices</a>
    <a href="{% url 'client_services' %}" class="block px-3 py-2 rounded hover:bg-indigo-700">My Services</a>
    <a href="{% url 'request_service' %}" class="block px-3 py-2 rounded hover:bg-indigo-700">Request Service</a>
  </nav>
  <div class="p-4 border-t border-indigo-700">
    <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
        <button type="submit" class="text-left w-full px-4 py-2 text-zinc-700 hover:bg-indigo-100">
        Logout
        </button>
    </form>
  </div>
</div>
